body{
    font-family: 'Roboto', sans-serif;
    margin: 0 30px;
}

/* bannar start */
.banner-section{
    display: flex;
    margin-top: 50px;
    margin-bottom: 140px;
}
.banner-text-part{
    width: 50%;
    padding: 0 100px 0 10px;
}
.banner-header{
    border-left: 4px solid cadetblue;
}
h1{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding-left: 20px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 18px;
}
.banner-img-part{
    width: 65%;
}
.banner-img-part img{
    width: 50%;
}
.banner-header-color{
    color: cadetblue;
}
.banner-para{
    margin-bottom: 30px;
}
.button-style{
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: rgb(87, 128, 252);
    padding: 13px 35px;
    border-radius: 5px;
}
.banner-para-2{
    margin-top: 30px;
}
/* bannar end */

/* cards start */
.my-mission{
    margin-bottom: 140px;
}
.my-mission h2{
    text-align: center;
}
.mis-vis-goal{
    display: flex;
}
.my-mission-cards{
    text-align: justify;
    width: 27%;
    margin: 0 1%;
    padding: 0 30px;
    border-radius: 40px;
}
.my-mission-cards img{
    width: 50%;
}
#my-mission-cards-1{
    background-color: rgb(197, 250, 250);
}
#my-mission-cards-2{
    background-color: rgb(253, 240, 218);
}
#my-mission-cards-3{
    background-color: rgb(248, 218, 248);
}
/* cards end */

/* Develop Without Limits part start */
.dev-wo-lim{
    margin-bottom: 140px;
}
.dev-without-lim{
    display: flex;
}
.dev-without-lim-img{
    width: 40%;
}
.dev-without-lim img{
    width: 90%;
}
.dev-without-lim-second-part{
    width: 60%;
    padding-top: 40px;
}
.dev-without-lim-para{
    margin-bottom: 35px;
    margin-right: 50px;
}
/* Develop Without Limits part end */

/* Know our Global Community start */
.kno-our-glob-section{
    margin-bottom: 140px;
}
.kno-our-glob{
    display: flex;
}
.kno-our-glob-text-part{
    padding-top: 80px;
    width: 60%;
}
.kno-our-glob-img-part{
    width: 40%;
}
.kno-our-glob-img-part img{
    width: 90%;
}
/* Know our Global Community end */

/* account and subscription start */
.subscription-section{
    display: flex;
    margin-bottom: 140px;
}
.subcription-form-containar{
    width: 40%;
}
.subscription-form-part{
    width: 80%;
    background-color: hsl(0, 0%, 93%);
    border-radius: 20px;
    padding: 60px 0 90px 60px;
}
#mail{
    font-size: 18px;
    margin: 5px;
    width: 250px;
    height: 25px;
}
#pass{
    font-size: 18px;
    margin: 5px 0;
    width: 250px;
    height: 25px;
}
#submit-btn{
    font-size: 16px;
    margin: 10px 0;
    width: 120px;
    height: 35px;
}
.acc-create{
    text-decoration: none;
    font-size: 18px;
}
.subscription-text-part{
    width: 50%;
}
/* account and subscription end */

/* footer */
.footer-part{
    color: white;
    text-align: center;
    background-color: black;
    padding: 20px 0
}
/* footer */