body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 30px;
}

/* bannar start */
.banner-section{
    display: flex;
    margin-top: 50px;
    margin-bottom: 120px;
}
.banner-text-part{
    width: 50%;
    padding: 0 100px 0 10px;
}
.banner-header{
    border-left: 4px solid royalblue;
}
h1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding-left: 10px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 30px;
}
.banner-img-part{
    width: 65%;
}
.banner-img-part img{
    width: 50%;
}
.banner-header-color{
    color:olivedrab;
}
.banner-para{
    margin-bottom: 30px;
}
.explore-btn{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: royalblue;
    padding: 13px 35px;
    border-radius: 5px;
}
.banner-para-2{
    margin-top: 30px;
}
/* bannar end */

/* cards start */
.my-mission{
    margin-bottom: 120px;
}
.my-mission h2{
    text-align: center;
}
.mis-vis-goal{
    display: flex;
}
p{
    font-size: 20px;
}
.my-mission-cards{
    text-align: justify;
    width: 27%;
    margin: 0 1%;
    padding: 0 30px;
    border-radius: 40px;
}
.my-mission-cards img{
    width: 50%;
}
#my-mission-cards-1{
    background-color: rgb(197, 250, 250);
}
#my-mission-cards-2{
    background-color: rgb(253, 240, 218);
}
#my-mission-cards-3{
    background-color: rgb(248, 218, 248);
}
/* cards end */

/* Develop Without Limits part start */
.dev-without-lim{
    display: flex;
}
.dev-without-lim-img{
    width: 40%;
}
.dev-without-lim img{
    width: 90%;
}
.dev-without-lim-second-part{
    width: 60%;
    padding-top: 40px;
}
.dev-without-lim-para{
    margin-bottom: 35px;
}
/* Develop Without Limits part end */